# Core ML dependencies
numpy
spacy
pandas
scikit-learn
torch
onnx
onnxruntime
skl2onnx


# Reddit scraping
praw
requests
tqdm


# Image processing
Pillow
pytesseract


# Text processing
textblob
bs4
emoji
nltk

# Development tools
jupyter
notebook
black
flake8
